.button{
  font-weight:400;
  font-family:FS Albert,Arial,Helvetica Neue,Helvetica,sans-serif;
  font-weight:600;
  border:.125rem solid transparent;
  border-radius:3.125rem;
  cursor:pointer;
  display:inline-block;
  font-size:1.1875rem;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  margin:.125rem;
  padding:.625rem 1.75rem .75rem;
  position:relative;
  text-decoration:none;
}

.button.button--icon-left .icon{
  left:1.625rem;
}

.button.button--icon-right .icon{
  right:1.625rem;
}

.button .icon{
  height:1.5rem;
  line-height:1;
  position:absolute;
  top:.75rem;
  width:1.5rem;
}

.button--secondary{
  margin:.125rem;
  outline:0;
}

.button--secondary,.button--secondary:visited{
  background-color:transparent;
  border:.125rem solid transparent;
  box-shadow:0 0 0 .125rem #70a400;
  color:#70a400;
}

.button--secondary.is-hover,.button--secondary:hover{
  border:.125rem solid transparent;
  box-shadow:0 0 0 .125rem #598300;
  color:#598300;
}

.button--secondary.is-focus,.button--secondary:focus{
  border:.125rem dotted #598300;
  box-shadow:0 0 0 .125rem #fff,0 0 0 .25rem #598300;
  color:#598300;
  margin:.25rem .125rem;
  padding:.5rem 1.625rem .6875rem;
}

.button--secondary.is-focus.button--icon-right,.button--secondary:focus.button--icon-right{
  padding-left:1.625rem;
  padding-right:4.125rem;
}

.button--secondary.is-focus.button--icon-right .icon,.button--secondary:focus.button--icon-right .icon{
  right:1.5rem;
  top:.6875rem;
}

.button--secondary.is-focus.button--icon-left,.button--secondary:focus.button--icon-left{
  padding-left:4.125rem;
  padding-right:1.625rem;
}

.button--secondary.is-focus.button--icon-left .icon,.button--secondary:focus.button--icon-left .icon{
  left:1.5rem;
  top:.6875rem;
}

.button--secondary.is-active,.button--secondary:active{
  border:.125rem solid #598300;
  box-shadow:0 0 0 .125rem #fff,0 0 0 .25rem #598300;
  color:#598300;
  margin:.25rem .125rem;
  padding:.5rem 1.625rem .6875rem;
}

.button--secondary.is-active.button--icon-right,.button--secondary:active.button--icon-right{
  padding-left:1.625rem;
  padding-right:4.125rem;
}

.button--secondary.is-active.button--icon-right .icon,.button--secondary:active.button--icon-right .icon{
  right:1.5rem;
  top:.6875rem;
}

.button--secondary.is-active.button--icon-left,.button--secondary:active.button--icon-left{
  padding-left:4.125rem;
  padding-right:1.625rem;
}

.button--secondary.is-active.button--icon-left .icon,.button--secondary:active.button--icon-left .icon{
  left:1.5rem;
  top:.6875rem;
}

.button--secondary.is-disabled,.button--secondary:disabled{
  background-color:#e5e5e5;
  border:.125rem solid #e5e5e5;
  box-shadow:0 0 0 .125rem #b2b2b2;
  color:#b2b2b2;
  cursor:default;
  padding:.625rem 1.625rem;
  pointer-events:none;
}

.button--secondary.is-disabled:active,.button--secondary.is-disabled:focus,.button--secondary.is-disabled:hover,.button--secondary.is-disabled:visited,.button--secondary:disabled:active,.button--secondary:disabled:focus,.button--secondary:disabled:hover,.button--secondary:disabled:visited{
  margin:.125rem;
  outline:0;
}

.button--secondary.button--icon-left{
  padding-left:4.25rem;
}

.button--secondary.button--icon-right{
  padding-right:4.25rem;
}


/*# sourceMappingURL=secondary-button.css.map*/