<!--
    NOTE: any pl__ classes are not for production, these are pattern libraray
    specific classes.
-->
<div class="row">
{{#each fonts}}
    <div class="columns small-12 medium-6" style="font-size: 72px; font-family: {{stack}}; font-weight: {{weight}}">Aa</div>
{{/each}}
</div>
