<!DOCTYPE html>
<html>
<head>
    {{> @meta }}
</head>
<body>

    <div class="Preview-position">
        {{{ yield }}}
    </div>

    <script src="{{ path '/scripts/app.js' }}"></script>

</body>
</html>
