@import '../../../../scss/00-foundation/settings';
@import 'node_modules/foundation-sites/scss/util/util';
@import '../../../../scss/01-settings/_import';
@import '../../../../scss/02-tools/_import';

.radio {
    margin: 0 rem(12) 0 0;
    width: rem(38);

    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused {
        & + .radio-overlay {
            border-color: $color-primary;
        }

        &:checked {
            & + .radio-overlay {
                border-color: $color-primary-light;
                color: $color-primary-light;
            }
        }
    }

    &:checked {
        & + .radio-overlay {
            border-color: $color-primary;
            color: $color-primary;

            .icon {
                display: block;
            }
        }
    }

    &.success {
        & + .radio-overlay {
            border-color: $color-secondary-light;
        }

        &:checked {
            & + .radio-overlay {
                color: $color-secondary-light;
            }
        }
    }

    &--disabled {
        & + .radio-overlay {
            background-color: $color-alabaster;
            border-color: $color-cloud;
        }

        &:hover,
        &.is-hovered,
        &:focus,
        &.is-focused {
            & + .radio-overlay {
                border-color: $color-cloud;
            }

            &:checked {
                & + .radio-overlay {
                    border-color: $color-cloud;
                    color: $color-cloud;
                }
            }
        }

        &:checked {
            & + .radio-overlay {
                border-color: $color-cloud;
                color: $color-cloud;
            }
        }
    }
}

.radio-overlay {
    background-color: $color-white;
    border: rem(2) solid $color-cloud;
    border-radius: 100%;
    display: block;
    height: rem(38);
    left: 0;
    position: absolute;
    top: 0;
    width: rem(38);

    .icon {
        display: none;
        height: rem(21);
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: rem(21);
    }
}
