<div class="row">
{{#each colours}}
    <div class="columns small-6 medium-4 large-2 pl__spacer--m">
        <div class="pl__colour-chip {{class}}"></div>
        <div class="pl__colour-chip__title" style="font-weight: bold;">{{name}}</div>
        <div class="pl__colour-chip__colour">{{colour}}</div>
    </div>
{{/each}}
</div>
