<!--
    NOTE: any pl__ classes are not for production, these are pattern libraray
    specific classes.
-->
<div class="row pl__spacer--l">
    <div class="columns small-12 align-left">
        <p><a href="#">Link text</a></p>

        <p><strong>Strong</strong></p>

        <p><em>Italic</em></p>

        <p><s>Strikethrough</s></p>

        <p><small>Small</small></p>

        <p><small class="p--x-small">Extra small</small></p>

        <p>Subscript<sub>2</sub></p>

        <p>Superscript<sup>2</sup></p>

        <p><cite>Citation</cite></p>

        <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">Quote</q></p>
    </div>
</div>

<div class="row">
    <div class="columns small-12 align-left">
        <h5 class="pl__spacer--s">Body</h5>
        <p class="pl__spacer--m">Water is a transparent, tasteless, odorless, and nearly colourless chemical substance, which is the main constituent of Earth&apos;s streams, <strong>lakes</strong> and <strong>oceans,</strong> and the fluids of most <a href="">living organisms.</a> It is vital for all known forms of life, even though it provides no calories or organic nutrients. It&apos;s chemical formula is H<sub>2</sub>O, meaning that each of it&apos;s molecules contains one oxygen and two hydrogen atoms, connected by covalent bonds. Water is the name of the liquid state of <a href="">H<sub>2</sub>O</a> at standard ambient temperature and pressure.</p>

        <h5 class="pl__spacer--s">Small</h5>
        <p class="p--small pl__spacer--m">Water is a transparent, tasteless, odorless, and nearly colourless chemical substance, which is the main constituent of Earth&apos;s streams, <strong>lakes</strong> and <strong>oceans,</strong> and the fluids of most <a href="">living organisms.</a> It is vital for all known forms of life, even though it provides no calories or organic nutrients. It&apos;s chemical formula is H<sub>2</sub>O, meaning that each of it&apos;s molecules contains one oxygen and two hydrogen atoms, connected by covalent bonds. Water is the name of the liquid state of <a href="">H<sub>2</sub>O</a> at standard ambient temperature and pressure.</p>

        <h5 class="pl__spacer--s">Extra Small</h5>
        <p class="p--x-small pl__spacer--m">Water is a transparent, tasteless, odorless, and nearly colourless chemical substance, which is the main constituent of Earth&apos;s streams, <strong>lakes</strong> and <strong>oceans,</strong> and the fluids of most <a href="">living organisms.</a> It is vital for all known forms of life, even though it provides no calories or organic nutrients. It&apos;s chemical formula is H<sub>2</sub>O, meaning that each of it&apos;s molecules contains one oxygen and two hydrogen atoms, connected by covalent bonds. Water is the name of the liquid state of <a href="">H<sub>2</sub>O</a> at standard ambient temperature and pressure.</p>
    </div>
</div>
