<!--
    NOTE: any pl__ classes are not for production, these are pattern libraray
    specific classes.
-->
<div class="grid-container pl__spacer--l" style="background-color: yellow; font-size: 18px; text-align: center;">
    <div class="row" style="background-color: #B2B2B2;">
        <div class="columns small-1" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />1<br /><br /></div></div>
        <div class="columns small-11" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />11<br /><br /></div></div>
    </div>
    <div class="row" style="background-color: #B2B2B2;">
        <div class="columns small-2" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />2<br /><br /></div></div>
        <div class="columns small-10" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />10<br /><br /></div></div>
    </div>
    <div class="row" style="background-color: #B2B2B2;">
        <div class="columns small-3" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />3<br /><br /></div></div>
        <div class="columns small-9" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />9<br /><br /></div></div>
    </div>
    <div class="row" style="background-color: #B2B2B2;">
        <div class="columns small-4" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />4<br /><br /></div></div>
        <div class="columns small-8" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />8<br /><br /></div></div>
    </div>
    <div class="row" style="background-color: #B2B2B2;">
        <div class="columns small-5" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />5<br /><br /></div></div>
        <div class="columns small-7" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />7<br /><br /></div></div>
    </div>
    <div class="row" style="background-color: #B2B2B2;">
        <div class="columns small-6" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />6<br /><br /></div></div>
        <div class="columns small-6" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />6<br /><br /></div></div>
    </div>
    <div class="row" style="background-color: #B2B2B2;">
        <div class="columns small-7" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />7<br /><br /></div></div>
        <div class="columns small-5" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />5<br /><br /></div></div>
    </div>
    <div class="row" style="background-color: #B2B2B2;">
        <div class="columns small-8" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />8<br /><br /></div></div>
        <div class="columns small-4" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />4<br /><br /></div></div>
    </div>
    <div class="row" style="background-color: #B2B2B2;">
        <div class="columns small-9" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />9<br /><br /></div></div>
        <div class="columns small-3" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />3<br /><br /></div></div>
    </div>
    <div class="row" style="background-color: #B2B2B2;">
        <div class="columns small-10" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />10<br /><br /></div></div>
        <div class="columns small-2" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />2<br /><br /></div></div>
    </div>
    <div class="row" style="background-color: #B2B2B2;">
        <div class="columns small-11" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />11<br /><br /></div></div>
        <div class="columns small-1" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />1<br /><br /></div></div>
    </div>
</div>

<div class="grid-container pl__spacer--l" style="background-color: yellow; font-size: 18px; text-align: center;">
    <div class="row" style="background-color: #B2B2B2;">
        <div class="columns small-1" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />1<br /><br /></div></div>
        <div class="columns small-1" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />1<br /><br /></div></div>
        <div class="columns small-1" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />1<br /><br /></div></div>
        <div class="columns small-1" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />1<br /><br /></div></div>
        <div class="columns small-1" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />1<br /><br /></div></div>
        <div class="columns small-1" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />1<br /><br /></div></div>
        <div class="columns small-1" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />1<br /><br /></div></div>
        <div class="columns small-1" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />1<br /><br /></div></div>
        <div class="columns small-1" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />1<br /><br /></div></div>
        <div class="columns small-1" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />1<br /><br /></div></div>
        <div class="columns small-1" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />1<br /><br /></div></div>
        <div class="columns small-1" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />1<br /><br /></div></div>
    </div>
    <div class="row" style="background-color: #B2B2B2;">
        <div class="columns small-2" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />2<br /><br /></div></div>
        <div class="columns small-2" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />2<br /><br /></div></div>
        <div class="columns small-2" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />2<br /><br /></div></div>
        <div class="columns small-2" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />2<br /><br /></div></div>
        <div class="columns small-2" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />2<br /><br /></div></div>
        <div class="columns small-2" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />2<br /><br /></div></div>
    </div>
    <div class="row" style="background-color: #B2B2B2;">
        <div class="columns small-3" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />3<br /><br /></div></div>
        <div class="columns small-3" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />3<br /><br /></div></div>
        <div class="columns small-3" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />3<br /><br /></div></div>
        <div class="columns small-3" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />3<br /><br /></div></div>
    </div>
    <div class="row" style="background-color: #B2B2B2;">
        <div class="columns small-4" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />4<br /><br /></div></div>
        <div class="columns small-4" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />4<br /><br /></div></div>
        <div class="columns small-4" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />4<br /><br /></div></div>
    </div>
    <div class="row" style="background-color: #B2B2B2;">
        <div class="columns small-6" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />6<br /><br /></div></div>
        <div class="columns small-6" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />6<br /><br /></div></div>
    </div>
</div>

<div class="grid-container pl__spacer--l" style="background-color: yellow; font-size: 18px; text-align: center;">
    <div class="row" style="background-color: #B2B2B2;">
        <div class="columns small-4 small-offset-2" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />4<br /><br /></div></div>
        <div class="columns small-4" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />4<br /><br /></div></div>
    </div>
</div>

<div class="grid-container pl__spacer--l" style="background-color: yellow; font-size: 18px; text-align: center;">
    <div class="expanded row" style="background-color: #B2B2B2;">
        <div class="columns small-4" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />4<br /><br /></div></div>
        <div class="columns small-4" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />4<br /><br /></div></div>
        <div class="columns small-4" style="background-color: #B2B2B2;"><div style="background-color: #009FDF;"><br />4<br /><br /></div></div>
    </div>
</div>
