<button class="button button--primary{{#if isDisabled}} is-disabled{{/if}}{{#if iconLeft}} button--icon-left{{/if}}{{#if iconRight}} button--icon-right{{/if}}"{{#if isDisabled}} tabindex="-1"{{/if}} >
    {{{buttonText}}}{{#if icon}}
    <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><title>Bookmark</title><path fill-rule="evenodd" clip-rule="evenodd" d="M5 3C5 1.89543 5.89543 1 7 1H17C18.1046 1 19 1.89543 19 3V23L12 17.5L5 23V3Z" fill="currentColor"/></svg>{{/if}}
</button>
